input {
        display: block;
        margin-left: 46%;
        margin-top: 3%;
        border: none;
        background: black;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid black;
        border-radius: 20px;
        padding: 15px 10px;
        width: 250px;
        color: orange;
        outline: none;
        font-family: Arial;
        font-size: 15px;


    }

    button {
        width: 200px;
        height: 45px;
        color: white;
        background-color: #191919;
        border: 2px solid #F05454;
        border-radius: 20px;
        outline: none;
        display: block;
        margin: 20px auto;
        padding: 15px 20px;
        cursor: pointer;
        font-size: 15px;

    }

    .bt {

        display: block;
        padding: 15px 30px;
        color: #17A589;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 55px;
        overflow: hidden;
        transition: 0.2s;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: -1%;
        cursor: pointer;
        text-align: center;
        margin-top: 5%;






    }


    .text-area {
        width: 500px;
        height: 200px;
        padding: 12px 20px;
        margin-left: 37%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
        text-align: center;
        border: 2px solid black;
        border-radius: 20px;
        outline: none;
        font-family: Arial;
        font-size: 15px;
        background: black;
        color: orange;

    }

        @keyframes animate-background {
            0% {
                background-position: 0 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0 50%;
            }
        }




       .vision {
        z-index: 100;
       }

       



        .forms {
            
            font-family: var(--font-base) !important;

        }

        .nadpis {
            text-decoration: none;
            font-size: 75px;
            z-index: 10;
            color: var(--black-color);
            font-family: var(--font-base);
            margin-top: 5%;
            
        }
        .nadpis-login {
            text-decoration: none;
            font-size: 100px ;
            z-index: 10;
            color: var(--black-color);
            font-family: var(--font-base);
            margin-top: 2% ;
            margin-bottom: 10%;
            
            
        }
        
        .nadpis2 {
            z-index: 10;
            color: var(--black-color);
            font-family: var(--font-base);
            margin-top: 5%;
            font-size: 40px;
        }
        .paragraf {
            margin-top: 3.5% !important;
            margin-left: 1.5% !important;
            
        }
    
        .menu-drop {
            width: 40% !important;
        }
        .dd {
            margin-top: 6rem !important;
            margin-left: 22% !important;
        }
        .butt {
            width: 65% !important;
            height: 80% !important;
        }
        .bottom {
            margin-bottom: 150%;
        }



    /* footer*/

    .text-light {
        color: var(--white-color) !important;
    }

        
 
    